.container.ajouter-livre-form form {
    background: #DDDDDD;
}

.vendeur-image  .input-group-text {
    background: #ffffff;
    cursor: pointer;
}
.vendeur-image input[type=file] {
    visibility: hidden;
}

.vendeur-image label.input-group-text{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}