body, #root {
    background: #DDDDDD;
}
.body {
    margin: 0;
    padding: 0;
    margin-top: 70px;
    width: 100vw;
    min-height: calc(100vh - 294px);
    /* background: #ccc; */
}

.body > div.container, .body .d-grid > div.container {
    background: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.table tr{
    background: #DDDDDD;
}

.table img.card-img-top {
    width: 70px;
}